openapi: 3.1.0
info:
  title: Acuity Brands Catalog Webpages API
  description: B2B REST APIs for Acuity Brands distributors covering inventory availability, order status tracking, product catalog, and web content. Enables integration of Acuity Brands data into distributor ERP, e-commerce, and ordering systems.
  version: 1.0.0
  contact:
    name: Acuity Brands Developer Portal
    url: https://api-docs.acuitybrands.com/
servers:
- url: https://api.acuitybrands.com/v1
  description: Acuity Brands production API
security:
- BasicAuth: []
tags:
- name: Webpages
  description: Web content and product page data
paths:
  /webpages:
    get:
      operationId: listWebpages
      summary: Acuity Brands List Webpages
      description: Retrieve product and content web pages from Acuity Brands including page URLs, metadata, and content structure.
      tags:
      - Webpages
      parameters:
      - name: type
        in: query
        description: Page type filter (product, category, landing)
        schema:
          type: string
      - name: brand
        in: query
        description: Filter by brand
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results
        schema:
          type: integer
          default: 50
      - name: cursor
        in: query
        description: Pagination cursor
        schema:
          type: string
      responses:
        '200':
          description: Webpage list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebpageList'
        '401':
          description: Unauthorized
  /webpages/{pageId}:
    get:
      operationId: getWebpage
      summary: Acuity Brands Get Webpage
      description: Retrieve full content and metadata for a specific Acuity Brands web page.
      tags:
      - Webpages
      parameters:
      - name: pageId
        in: path
        required: true
        description: Page identifier
        schema:
          type: string
      responses:
        '200':
          description: Webpage details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webpage'
        '401':
          description: Unauthorized
        '404':
          description: Page not found
components:
  schemas:
    WebpageList:
      type: object
      description: Paginated list of web pages
      properties:
        pages:
          type: array
          items:
            $ref: '#/components/schemas/Webpage'
        total:
          type: integer
          example: 10000
        cursor:
          type: string
    Webpage:
      type: object
      description: Acuity Brands product or content web page
      properties:
        pageId:
          type: string
          description: Page identifier
          example: lithonia-lbl4
        url:
          type: string
          description: Canonical page URL
          example: https://www.acuitybrands.com/products/lbl4
        title:
          type: string
          description: Page title
          example: LBL4 LED Wrap Light
        type:
          type: string
          enum:
          - product
          - category
          - landing
          - support
          description: Page type
          example: product
        brand:
          type: string
          description: Associated brand
          example: Lithonia Lighting
        metaDescription:
          type: string
          description: SEO meta description
        productNumber:
          type: string
          description: Associated product number if product page
          example: LBL4 48L ADP
        lastModified:
          type: string
          format: date-time
          description: Page last modified timestamp
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Auth using numeric User ID as username and API Key as password
