openapi: 3.1.0
info:
  title: Acuity Brands Catalog Inventory API
  description: B2B REST APIs for Acuity Brands distributors covering inventory availability, order status tracking, product catalog, and web content. Enables integration of Acuity Brands data into distributor ERP, e-commerce, and ordering systems.
  version: 1.0.0
  contact:
    name: Acuity Brands Developer Portal
    url: https://api-docs.acuitybrands.com/
servers:
- url: https://api.acuitybrands.com/v1
  description: Acuity Brands production API
security:
- BasicAuth: []
tags:
- name: Inventory
  description: Product inventory and availability
paths:
  /inventory:
    get:
      operationId: listInventory
      summary: Acuity Brands List Inventory
      description: Retrieve inventory availability for Acuity Brands products. Returns stock levels, warehouse locations, and estimated availability dates.
      tags:
      - Inventory
      parameters:
      - name: productNumber
        in: query
        description: Filter by Acuity Brands product number
        schema:
          type: string
      - name: brand
        in: query
        description: Filter by brand (e.g. Lithonia, Holophane, nLight)
        schema:
          type: string
      - name: warehouse
        in: query
        description: Filter by warehouse location code
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return
        schema:
          type: integer
          default: 100
      - name: cursor
        in: query
        description: Pagination cursor for next page
        schema:
          type: string
      responses:
        '200':
          description: Inventory list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryList'
        '401':
          description: Unauthorized — invalid or missing API credentials
  /inventory/{productNumber}:
    get:
      operationId: getInventoryItem
      summary: Acuity Brands Get Inventory Item
      description: Retrieve inventory availability for a specific product number including stock by warehouse and estimated ship dates.
      tags:
      - Inventory
      parameters:
      - name: productNumber
        in: path
        required: true
        description: Acuity Brands product number
        schema:
          type: string
      responses:
        '200':
          description: Inventory item details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryItem'
        '401':
          description: Unauthorized
        '404':
          description: Product not found
components:
  schemas:
    InventoryItem:
      type: object
      description: Inventory availability record for a product
      properties:
        productNumber:
          type: string
          description: Acuity Brands product number
          example: LBL4 48L ADP
        description:
          type: string
          description: Product description
          example: 4FT LED Wrap Light 4800 Lumens
        brand:
          type: string
          description: Brand name
          example: Lithonia Lighting
        totalQuantity:
          type: integer
          description: Total available quantity across all warehouses
          example: 250
        warehouses:
          type: array
          description: Per-warehouse availability
          items:
            type: object
            properties:
              code:
                type: string
                example: ATL
              name:
                type: string
                example: Atlanta Distribution Center
              quantity:
                type: integer
                example: 150
              estimatedShipDate:
                type: string
                format: date
                example: '2026-04-22'
        updatedAt:
          type: string
          format: date-time
          description: Last inventory update time
    InventoryList:
      type: object
      description: Paginated list of inventory items
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/InventoryItem'
        total:
          type: integer
          example: 5000
        cursor:
          type: string
          example: eyJwYWdlIjoyfQ==
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Auth using numeric User ID as username and API Key as password
