{
  "openapi": "3.1.0",
  "info": {
    "title": "Acuity Brands API",
    "description": "B2B REST APIs for Acuity Brands distributors covering inventory availability, order status tracking, product catalog, and web content. Enables integration of Acuity Brands data into distributor ERP, e-commerce, and ordering systems.",
    "version": "1.0.0",
    "contact": {
      "name": "Acuity Brands Developer Portal",
      "url": "https://api-docs.acuitybrands.com/"
    }
  },
  "servers": [
    {
      "url": "https://api.acuitybrands.com/v1",
      "description": "Acuity Brands production API"
    }
  ],
  "tags": [
    {"name": "Inventory", "description": "Product inventory and availability"},
    {"name": "Orders", "description": "Order status and shipment tracking"},
    {"name": "Catalog", "description": "Product catalog and item details"},
    {"name": "Webpages", "description": "Web content and product page data"}
  ],
  "paths": {
    "/inventory": {
      "get": {
        "operationId": "listInventory",
        "summary": "Acuity Brands List Inventory",
        "description": "Retrieve inventory availability for Acuity Brands products. Returns stock levels, warehouse locations, and estimated availability dates.",
        "tags": ["Inventory"],
        "parameters": [
          {
            "name": "productNumber",
            "in": "query",
            "description": "Filter by Acuity Brands product number",
            "schema": {"type": "string"}
          },
          {
            "name": "brand",
            "in": "query",
            "description": "Filter by brand (e.g. Lithonia, Holophane, nLight)",
            "schema": {"type": "string"}
          },
          {
            "name": "warehouse",
            "in": "query",
            "description": "Filter by warehouse location code",
            "schema": {"type": "string"}
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "schema": {"type": "integer", "default": 100}
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor for next page",
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Inventory list",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/InventoryList"}
              }
            }
          },
          "401": {"description": "Unauthorized — invalid or missing API credentials"}
        }
      }
    },
    "/inventory/{productNumber}": {
      "get": {
        "operationId": "getInventoryItem",
        "summary": "Acuity Brands Get Inventory Item",
        "description": "Retrieve inventory availability for a specific product number including stock by warehouse and estimated ship dates.",
        "tags": ["Inventory"],
        "parameters": [
          {
            "name": "productNumber",
            "in": "path",
            "required": true,
            "description": "Acuity Brands product number",
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Inventory item details",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/InventoryItem"}
              }
            }
          },
          "401": {"description": "Unauthorized"},
          "404": {"description": "Product not found"}
        }
      }
    },
    "/orders": {
      "get": {
        "operationId": "listOrders",
        "summary": "Acuity Brands List Orders",
        "description": "Retrieve a list of orders with their current status, estimated ship dates, and tracking information.",
        "tags": ["Orders"],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter by order status (pending, processing, shipped, delivered)",
            "schema": {"type": "string", "enum": ["pending", "processing", "shipped", "delivered"]}
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Filter orders placed on or after this date (ISO 8601)",
            "schema": {"type": "string", "format": "date"}
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Filter orders placed on or before this date (ISO 8601)",
            "schema": {"type": "string", "format": "date"}
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results",
            "schema": {"type": "integer", "default": 50}
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Order list",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/OrderList"}
              }
            }
          },
          "401": {"description": "Unauthorized"}
        }
      }
    },
    "/orders/{orderId}": {
      "get": {
        "operationId": "getOrder",
        "summary": "Acuity Brands Get Order",
        "description": "Retrieve full order status details including line items, estimated ship dates, actual shipment dates, carrier, and pro number.",
        "tags": ["Orders"],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "description": "Acuity Brands order identifier",
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Order details",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Order"}
              }
            }
          },
          "401": {"description": "Unauthorized"},
          "404": {"description": "Order not found"}
        }
      }
    },
    "/orders/{orderId}/shipments": {
      "get": {
        "operationId": "getOrderShipments",
        "summary": "Acuity Brands Get Order Shipments",
        "description": "Retrieve all shipment records for an order including carrier, pro number, and tracking URLs.",
        "tags": ["Orders"],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "description": "Acuity Brands order identifier",
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Shipment list for order",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ShipmentList"}
              }
            }
          },
          "401": {"description": "Unauthorized"},
          "404": {"description": "Order not found"}
        }
      }
    },
    "/catalog/items": {
      "get": {
        "operationId": "listCatalogItems",
        "summary": "Acuity Brands List Catalog Items",
        "description": "Search the Acuity Brands product catalog by category, brand, or keyword. Returns product details, specifications, and pricing.",
        "tags": ["Catalog"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Keyword search query",
            "schema": {"type": "string"}
          },
          {
            "name": "brand",
            "in": "query",
            "description": "Filter by brand name",
            "schema": {"type": "string"}
          },
          {
            "name": "category",
            "in": "query",
            "description": "Product category (indoor-lighting, outdoor-lighting, controls, emergency)",
            "schema": {"type": "string"}
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results",
            "schema": {"type": "integer", "default": 50}
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog item list",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/CatalogItemList"}
              }
            }
          },
          "401": {"description": "Unauthorized"}
        }
      }
    },
    "/catalog/items/{productNumber}": {
      "get": {
        "operationId": "getCatalogItem",
        "summary": "Acuity Brands Get Catalog Item",
        "description": "Retrieve detailed product information for a specific item including specifications, certifications, and pricing.",
        "tags": ["Catalog"],
        "parameters": [
          {
            "name": "productNumber",
            "in": "path",
            "required": true,
            "description": "Product number or SKU",
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog item details",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/CatalogItem"}
              }
            }
          },
          "401": {"description": "Unauthorized"},
          "404": {"description": "Product not found"}
        }
      }
    },
    "/webpages": {
      "get": {
        "operationId": "listWebpages",
        "summary": "Acuity Brands List Webpages",
        "description": "Retrieve product and content web pages from Acuity Brands including page URLs, metadata, and content structure.",
        "tags": ["Webpages"],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Page type filter (product, category, landing)",
            "schema": {"type": "string"}
          },
          {
            "name": "brand",
            "in": "query",
            "description": "Filter by brand",
            "schema": {"type": "string"}
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results",
            "schema": {"type": "integer", "default": 50}
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Webpage list",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/WebpageList"}
              }
            }
          },
          "401": {"description": "Unauthorized"}
        }
      }
    },
    "/webpages/{pageId}": {
      "get": {
        "operationId": "getWebpage",
        "summary": "Acuity Brands Get Webpage",
        "description": "Retrieve full content and metadata for a specific Acuity Brands web page.",
        "tags": ["Webpages"],
        "parameters": [
          {
            "name": "pageId",
            "in": "path",
            "required": true,
            "description": "Page identifier",
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Webpage details",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Webpage"}
              }
            }
          },
          "401": {"description": "Unauthorized"},
          "404": {"description": "Page not found"}
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Auth using numeric User ID as username and API Key as password"
      }
    },
    "schemas": {
      "InventoryItem": {
        "type": "object",
        "description": "Inventory availability record for a product",
        "properties": {
          "productNumber": {"type": "string", "description": "Acuity Brands product number", "example": "LBL4 48L ADP"},
          "description": {"type": "string", "description": "Product description", "example": "4FT LED Wrap Light 4800 Lumens"},
          "brand": {"type": "string", "description": "Brand name", "example": "Lithonia Lighting"},
          "totalQuantity": {"type": "integer", "description": "Total available quantity across all warehouses", "example": 250},
          "warehouses": {
            "type": "array",
            "description": "Per-warehouse availability",
            "items": {
              "type": "object",
              "properties": {
                "code": {"type": "string", "example": "ATL"},
                "name": {"type": "string", "example": "Atlanta Distribution Center"},
                "quantity": {"type": "integer", "example": 150},
                "estimatedShipDate": {"type": "string", "format": "date", "example": "2026-04-22"}
              }
            }
          },
          "updatedAt": {"type": "string", "format": "date-time", "description": "Last inventory update time"}
        }
      },
      "InventoryList": {
        "type": "object",
        "description": "Paginated list of inventory items",
        "properties": {
          "items": {"type": "array", "items": {"$ref": "#/components/schemas/InventoryItem"}},
          "total": {"type": "integer", "example": 5000},
          "cursor": {"type": "string", "example": "eyJwYWdlIjoyfQ=="}
        }
      },
      "Order": {
        "type": "object",
        "description": "An Acuity Brands order with status and shipment information",
        "properties": {
          "orderId": {"type": "string", "description": "Acuity Brands order number", "example": "ACB-2026-001234"},
          "purchaseOrderNumber": {"type": "string", "description": "Distributor purchase order number", "example": "PO-55678"},
          "status": {"type": "string", "enum": ["pending", "processing", "shipped", "delivered", "cancelled"], "example": "shipped"},
          "orderDate": {"type": "string", "format": "date", "description": "Date order was placed", "example": "2026-04-15"},
          "estimatedShipDate": {"type": "string", "format": "date", "description": "Estimated ship date", "example": "2026-04-20"},
          "actualShipDate": {"type": "string", "format": "date", "description": "Actual ship date", "example": "2026-04-19"},
          "lineItems": {
            "type": "array",
            "description": "Order line items",
            "items": {
              "type": "object",
              "properties": {
                "lineNumber": {"type": "integer", "example": 1},
                "productNumber": {"type": "string", "example": "LBL4 48L ADP"},
                "description": {"type": "string", "example": "4FT LED Wrap Light"},
                "quantity": {"type": "integer", "example": 10},
                "unitPrice": {"type": "number", "example": 45.50},
                "status": {"type": "string", "example": "shipped"}
              }
            }
          },
          "totalAmount": {"type": "number", "description": "Total order amount", "example": 455.00},
          "shipToAddress": {
            "type": "object",
            "properties": {
              "name": {"type": "string", "example": "ABC Electrical Distributors"},
              "street": {"type": "string", "example": "123 Main St"},
              "city": {"type": "string", "example": "Atlanta"},
              "state": {"type": "string", "example": "GA"},
              "zip": {"type": "string", "example": "30301"}
            }
          }
        }
      },
      "OrderList": {
        "type": "object",
        "description": "Paginated list of orders",
        "properties": {
          "orders": {"type": "array", "items": {"$ref": "#/components/schemas/Order"}},
          "total": {"type": "integer", "example": 200},
          "cursor": {"type": "string"}
        }
      },
      "Shipment": {
        "type": "object",
        "description": "Shipment record for an order",
        "properties": {
          "shipmentId": {"type": "string", "description": "Shipment identifier", "example": "SHP-001"},
          "orderId": {"type": "string", "description": "Associated order ID", "example": "ACB-2026-001234"},
          "carrier": {"type": "string", "description": "Shipping carrier name", "example": "UPS Freight"},
          "proNumber": {"type": "string", "description": "Carrier PRO/tracking number", "example": "1Z999AA10123456784"},
          "trackingUrl": {"type": "string", "description": "Carrier tracking URL", "example": "https://www.ups.com/track?tracknum=1Z999AA10123456784"},
          "shipDate": {"type": "string", "format": "date", "example": "2026-04-19"},
          "estimatedDeliveryDate": {"type": "string", "format": "date", "example": "2026-04-22"},
          "weight": {"type": "number", "description": "Shipment weight in lbs", "example": 45.5},
          "lineItems": {
            "type": "array",
            "description": "Line items in this shipment",
            "items": {
              "type": "object",
              "properties": {
                "lineNumber": {"type": "integer", "example": 1},
                "productNumber": {"type": "string", "example": "LBL4 48L ADP"},
                "quantityShipped": {"type": "integer", "example": 10}
              }
            }
          }
        }
      },
      "ShipmentList": {
        "type": "object",
        "description": "List of shipments for an order",
        "properties": {
          "shipments": {"type": "array", "items": {"$ref": "#/components/schemas/Shipment"}},
          "total": {"type": "integer", "example": 2}
        }
      },
      "CatalogItem": {
        "type": "object",
        "description": "Acuity Brands product catalog item",
        "properties": {
          "productNumber": {"type": "string", "description": "Product number/SKU", "example": "LBL4 48L ADP"},
          "name": {"type": "string", "description": "Product name", "example": "4FT LED Wrap Light 4800 Lumens Adapter"},
          "brand": {"type": "string", "description": "Brand name", "example": "Lithonia Lighting"},
          "category": {"type": "string", "description": "Product category", "example": "Indoor Lighting"},
          "subcategory": {"type": "string", "description": "Product subcategory", "example": "Wrap Lights"},
          "description": {"type": "string", "description": "Full product description"},
          "specifications": {
            "type": "object",
            "description": "Technical specifications",
            "additionalProperties": true
          },
          "certifications": {"type": "array", "items": {"type": "string"}, "description": "Product certifications", "example": ["UL Listed", "Energy Star", "DLC Listed"]},
          "listPrice": {"type": "number", "description": "List price in USD", "example": 89.99},
          "upc": {"type": "string", "description": "UPC code", "example": "041194682000"},
          "imageUrl": {"type": "string", "description": "Primary product image URL"},
          "dataSheetUrl": {"type": "string", "description": "Product data sheet URL"}
        }
      },
      "CatalogItemList": {
        "type": "object",
        "description": "Paginated list of catalog items",
        "properties": {
          "items": {"type": "array", "items": {"$ref": "#/components/schemas/CatalogItem"}},
          "total": {"type": "integer", "example": 50000},
          "cursor": {"type": "string"}
        }
      },
      "Webpage": {
        "type": "object",
        "description": "Acuity Brands product or content web page",
        "properties": {
          "pageId": {"type": "string", "description": "Page identifier", "example": "lithonia-lbl4"},
          "url": {"type": "string", "description": "Canonical page URL", "example": "https://www.acuitybrands.com/products/lbl4"},
          "title": {"type": "string", "description": "Page title", "example": "LBL4 LED Wrap Light"},
          "type": {"type": "string", "enum": ["product", "category", "landing", "support"], "description": "Page type", "example": "product"},
          "brand": {"type": "string", "description": "Associated brand", "example": "Lithonia Lighting"},
          "metaDescription": {"type": "string", "description": "SEO meta description"},
          "productNumber": {"type": "string", "description": "Associated product number if product page", "example": "LBL4 48L ADP"},
          "lastModified": {"type": "string", "format": "date-time", "description": "Page last modified timestamp"}
        }
      },
      "WebpageList": {
        "type": "object",
        "description": "Paginated list of web pages",
        "properties": {
          "pages": {"type": "array", "items": {"$ref": "#/components/schemas/Webpage"}},
          "total": {"type": "integer", "example": 10000},
          "cursor": {"type": "string"}
        }
      }
    }
  },
  "security": [
    {"BasicAuth": []}
  ]
}
